<section class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-10 rounded-lg shadow-md w-full max-w-sm">
        
        <!-- logo -->
         <a href="/" class="text-5xl font-bold bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 bg-clip-text text-transparent">
            FestCoin
         </a>

        <!-- inloggen titel -->
        <h2 class="text-xl font-semibold mt-3 mb-2">Inloggen</h2>
    
        <!-- inlog form -->
        <form action="" class="space-y-4">
            <div>
                <label class="block text-sm font-medium mb-1" for="email">Email</label>
                <input type="email" id="email" class="w-full border rounded px-3 py-2" placeholder="Email">
            </div>
            <div>
                <label class="block text-sm font-medium mb-1" for="password">Wachtwoord</label>
                <div class="relative">
                    <input type="password" id="wachtwoord" class="w-full border rounded px-3 py-2 pr-10" placeholder="Wachtwoord">
                    <button type="button" id="togglePassword" class="absolute right-2 top-3">
                        <!-- SVG van oog open (https://heroicons.com/)-->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 oog-open">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        <!-- SVG van oog dicht (https://heroicons.com/)-->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-4 oog-dicht hidden">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- wachtwoord vergeten -->
            <div class="text-right text-sm">
                <a href="/" class="text-blue-500 hover:underline">Wachtwoord vergeten?</a>
            </div>

            <!-- Inloggen knop-->
            <button type="sumbit" class="w-full bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 text-white py-2 rounded hover:bg-blue-600 transition">
                Inloggen
            </button>
        </form>

        <!-- nieuwe account aanmaken -->
        <p class="text-xs text-gray-400 mt-6 text-center">
            Ben je nog niet bekend bij ons? <a href="/registreren" class="text-blue-500 hover:underline"> Maak je account hier aan</a>.
        </p>

        <!-- Privacy / cookie -->
        <p class="text-xs text-gray-400 mt-6 text-center">
            Door in te loggen ga je akkoord met ons 
            <a href="/" class="underline">privacybeleid</a> en 
            <a href="/" class="underline">cookiebeleid</a>.
        </p>

    </div>
</section>


<script>
    const wachtwoord = document.getElementById("wachtwoord");
    const toggle = document.getElementById("togglePassword");
    const oogOpen = toggle.querySelector('.oog-open');
    const oogDicht = toggle.querySelector('.oog-dicht')

    toggle.addEventListener('click', ()=>{
        const type = wachtwoord.getAttribute('type') === 'password' ? 'text' : 'password';
        wachtwoord.setAttribute('type' , type);
        
        oogOpen.classList.toggle('hidden');
        oogDicht.classList.toggle('hidden');
    });
</script>