<!-- faq sectie -->
<section class="container mx-auto px-4 py-16 text-center">

    <h1 class="text-4xl font-bold mb-4">Veelgestelde vragen</h1>
    <p class="text-xl text-gray-700 mb-8 max-w-2xl mx-auto">Alles wat je moet weten over FestCoin</p>

    <div class="max-w-3xl mx-auto space-y-4">
        <!-- voeg hier faq's toe met vragenCard -->
        <% faq.forEach(vraag => { %>
            <%- include("cards/vragenCard", vraag) %>
        <% }) %>
    </div>

</section>






