<!-- footer -->
<footer class="w-full bg-gray-50 px-20 py-10">
    <div class="max-w-full mx-auto flex flex-col md:flex-row justify-between gap-8">
        <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-bold bg-gradientkleurBR bg-clip-text text-transparent">FestCoin</h1>
            <p class="text-sm text-gray-600">De toekomst van cashless betalingen voor<br>evenementen. Sneller, veiliger en overzichtelijk.</p>
        </div>

        <div class="flex flex-col gap-1 text-sm text-gray-600">
            <h2 class="font-semibold mb-1">voor bezoekers</h2>
            <a href="/bezoekers" class="hover:text-blue-600 transition-colors">Waarom FestCoin</a>
            <a href="/HoeWerktFestCoin" class="hover:text-blue-600 transition-colors">Hoe werkt FestCoint?</a>
            <a href="/inloggen" class="hover:text-blue-600 transition-colors">Inloggen</a>
        </div>

        <div class="flex flex-col gap-1 text-sm text-gray-600">
            <h2 class="font-semibold mb-1">voor organisatoren</h2>
            <a href="/organisatoren" class="hover:text-blue-600 transition-colors">Waarom FestCoin</a>
            <a href="/HoeWerktFestCoin?zichtbaar=organisator" class="hover:text-blue-600 transition-colors">Hoe werkt FestCoint?</a>
            <a href="/inloggen" class="hover:text-blue-600 transition-colors">Inloggen</a>
        </div>

        <div class="flex flex-col gap-1 text-sm text-gray-600">
            <h2 class="font-semibold mb-1">Social media</h2>
            <a href="https://www.instagram.com/" target="_blank" class="hover:text-blue-600 transition-colors">Instagram</a>
            <a href="https://www.youtube.com/" target="_blank" class="hover:text-blue-600 transition-colors">Youtube</a>
            <a href="https://www.facebook.com/" target="_blank" class="hover:text-blue-600 transition-colors">Facebook</a>
        </div>

        <div class="flex flex-col gap-1 text-sm text-gray-600">
            <h2 class="font-semibold mb-1">Contact</h2>
            <a href="/klantenservice" class="hover:text-blue-600 transition-colors">Klantenservice</a>
            <a href="mailto:vanshpreet.singh@student.uhasselt.be" class="hover:text-blue-600 transition-colors">Mail ons!</a>
            <a href="tel:+32 123456789" class="hover:text-blue-600 transition-colors">+32 123456789</a>
            <p>Hasselt, België</p>
        </div>
    </div>

    <div class="mt-6 border-t border-gray-300 pt-4 text-sm text-gray-500 flex flex-col md:flex-row justify-between gap-2 max-w-6xl mx-auto">   
        <p>&copy; 2025 FestCoin. Alle rechten voorbehouden</p>
        <div class="flex gap-4">
            <a href="/privacy" class="hover:text-blue-600 transition-colors">Privacybeleid</a>
            <a href="/voorwaarden" class="hover:text-blue-600 transition-colors">Algemene voorwaarden</a>
            <a href="/cookiebeleid" class="hover:text-blue-600 transition-colors">Cookiebeleid</a>
        </div>
    </div>
</footer>