
<!-- header -->
<header class="bg-white/70 backdrop-blur-md fixed top-0 w-full z-50">

  <div id="uitlog-notificatie" class="fixed top-16 right-4 bg-green-500 text-white px-3 py-2 rounded opacity-0 transition-opacity duration-500 pointer-events-none z-50"></div>


  <div class="flex items-center justify-between px-4 py-3 w-full gap-20">
    
    <!-- logo links -->
    <div class="flex items-end gap-10">
      <a href="/home" class="text-4xl font-bold bg-gradientkleurBR bg-clip-text text-transparent">
        FestCoin
      </a>
    </div>


    <!-- knoppen rechts -->
    <div class="flex items-center gap-10">

        <a href="/home" class="py-1 font-semibold border-b-2 border-transparent hover:border-pink-500 transition-all duration-500">
          Home
        </a>

        <a href="/HoeWerktFestCoin" class="py-1 font-semibold border-b-2 border-transparent hover:border-blue-500 transition-all duration-500">
          Instructies
        </a>

        <!--
        <a href="/klantenservice" class="py-1 font-semibold border-b-2 border-transparent hover:border-pink-500 transition-all duration-500">
          klantenservice
        </a> -->

        <% if(!user) { %>
          <a href="/inloggen" class="py-1 font-semibold border-b-2 border-transparent hover:border-pink-500 transition-all duration-500">
            Inloggen
          </a>
        <% } else { %>
            <%- include("../partials/dropdownMenu") %>
        <% } %>

    </div>

  </div>
</header>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const logoutForm = document.querySelector("form[action='/logout']");
    if (!logoutForm) return;

    logoutForm.addEventListener("submit", async (e) => {
        e.preventDefault(); // voorkom normale reload
        const res = await fetch("/logout", { method: "POST" });

        if (res.ok) {
            const notif = document.getElementById("uitlog-notificatie");
            notif.textContent = "Succesvol uitgelogd!"
            notif.classList.remove("opacity-0");
            setTimeout(() => {
                notif.classList.add("opacity-0");
                window.location.href = "/home";
            }, 1000);
        }
    });
});
</script>