
<!-- header -->
<header class="bg-white/70 backdrop-blur-md fixed top-0 w-full z-50">
  <div class="flex items-center justify-between px-4 py-3 w-full">
    
    <!-- logo links -->
    <a href="/home" class="text-4xl font-bold bg-gradient-to-r from-blue-400 to-purple-500 bg-clip-text text-transparent">
      FestCoin
    </a>

    <!-- knoppen rechts -->
    <div class="flex items-center gap-10">

        <a href="/home" class="py-1 font-semibold border-b-2 border-transparent hover:border-pink-500 transition-all duration-500">
          Home
        </a>

        <a href="/over-ons" class="py-1 font-semibold border-b-2 border-transparent hover:border-blue-500 transition-all duration-500">
          Over ons
        </a>

        <!--
        <a href="/klantenservice" class="py-1 font-semibold border-b-2 border-transparent hover:border-pink-500 transition-all duration-500">
          klantenservice
        </a> -->

        <a href="/inloggen" class="py-1 font-semibold border-b-2 border-transparent hover:border-blue-500 transition-all duration-500">
          Inloggen
        </a>

    </div>

  </div>
</header>
