
<!-- header -->
<header class=" bg-white/80 backdrop-blur-lg fixed top-0 w-full z-50">
  <div class="flex items-center justify-between px-4 py-3 w-full">
    
    <!-- logo links -->
    <div class="text-4xl font-bold bg-gradient-to-r from-blue-400 to-purple-500 bg-clip-text text-transparent">
      FestCoin
    </div>

    <!-- knoppen rechts -->
    <div class="flex items-center gap-3">

        <a href="/" class="relative inline-block px-5 py-2 font-semibold text-gray-900 rounded-md overflow-hidden group">
          <span class="relative z-10">Home</span>
          <span class="absolute inset-0 bg-blue-500 scale-x-0 origin-left group-hover:scale-x-100 transition-transform duration-500"></span>
        </a>

        <a href="/over-ons" class="relative inline-block px-5 py-2 font-semibold text-gray-900 rounded-md overflow-hidden group">
          <span class="relative z-10">Over ons</span>
          <span class="absolute inset-0 bg-blue-500 scale-x-0 origin-left group-hover:scale-x-100 transition-transform duration-500"></span>
        </a>

        <a href="/bezoekers" class="relative inline-block px-5 py-2 font-semibold text-gray-900 rounded-md overflow-hidden group">
          <span class="relative z-10">Bezoekers</span>
          <span class="absolute inset-0 bg-blue-500 scale-x-0 origin-left group-hover:scale-x-100 transition-transform duration-500"></span>
        </a>

        <a href="/organisatoren" class="relative inline-block px-5 py-2 font-semibold text-gray-900 rounded-md overflow-hidden group">
          <span class="relative z-10">Organisatoren</span>
          <span class="absolute inset-0 bg-blue-500 scale-x-0 origin-left group-hover:scale-x-100 transition-transform duration-500"></span>
        </a>

        <a href="/hulp" class="relative inline-block px-5 py-2 font-semibold text-gray-900 rounded-md overflow-hidden group">
          <span class="relative z-10">Hulp</span>
          <span class="absolute inset-0 bg-blue-500 scale-x-0 origin-left group-hover:scale-x-100 transition-transform duration-500"></span>
        </a>

        <a href="/inloggen" class="relative inline-block px-5 py-2 font-semibold text-gray-900 rounded-md overflow-hidden group">
          <span class="relative z-10">Inloggen</span>
          <span class="absolute inset-0 bg-blue-500 scale-x-0 origin-left group-hover:scale-x-100 transition-transform duration-500"></span>
        </a>

    </div>

  </div>
</header>
