<section class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-10 rounded-lg shadow-md w-full max-w-sm">
        
        <!-- logo -->
         <a href="/" class="text-5xl font-bold bg-gradient-to-r from-blue-400 via-purple-500 to-pink-500 bg-clip-text text-transparent">
            FestCoin
         </a>

        <!-- inloggen titel -->
        <h2 class="text-xl font-semibold mt-3 mb-2">Inloggen</h2>
    
        <!-- inlog form -->
        <form action="" class="space-y-4">
            <div>
                <label class="block text-sm font-medium mb-1" for="email">Email</label>
                <input type="email" id="email" class="w-full border rounded px-3 py-2" placeholder="Email">
            </div>
            <div>
                <label class="block text-sm font-medium mb-1" for="password">Wachtwoord</label>
                <input type="wachtwoord" id="wachtwoord" class="w-full border rounded px-3 py-2" placeholder="Wachtwoord">
            </div>

            <!-- wachtwoord vergeten -->
            <div class="text-right text-sm">
                <a href="/" class="text-blue-500 hover:underline">Wachtwoord vergeten?</a>
            </div>

            <!-- Inloggen knop-->
            <button type="sumbit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition">
                Inloggen
            </button>
        </form>

        <!-- nieuwe account aanmaken -->
        <p class="text-xs text-gray-400 mt-6 text-center">
            Ben je nog niet bekend bij ons? <a href="/" class="text-blue-500 hover:underline"> Maak je account hier aan</a>.
        </p>

        <!-- Privacy / cookie -->
        <p class="text-xs text-gray-400 mt-6 text-center">
            Door in te loggen ga je akkoord met ons 
            <a href="/" class="underline">privacybeleid</a> en 
            <a href="/" class="underline">cookiebeleid</a>.
        </p>

    </div>
</section>