<% if(user.role === "bezoeker") { %>

    <div class="grid md:grid-cols-2 gap-6 mb-8">
        <div class="p-8 bg-gradientkleurBR text-white rounded-lg shadow">
            <p class="text-2xl font-bold mb-2">FestCoins</p>
            <div class="text-3xl font-bold mb-1">
                <%= user.festCoins %>
            </div>
        </div>

        <div class="p-8 bg-gradientkleurBR text-white rounded-lg shadow">
            <p class="text-2xl font-bold mb-2">Vandaag besteed(?)</p>
            <div class="text-1xl font-bold mb-1">(database transacties per user?)</div>
            <div class="text-1xl font-bold mb-1">Beetje verzinnen wat heir kan komen</div>
        </div>
    </div>

<% } else if(user.role === "organisator" ) { %>

    <div class="grid md:grid-cols-4 gap-6 mb-8">
        <div class="p-8 bg-gradientkleurSmallText text-white rounded-lg shadow">
            <p class="text-2xl font-bold mb-2">Totale Omzet</p>
            <div class="text-3xl font-bold mb-1"><%= user.festCoins %> FestCoins</div>
            <div class="text-1xl font-bold mb-1"><%= user.festCoins %> Euro</div>
        </div>

        <div class="p-8 bg-gradientkleurSmallText text-white rounded-lg shadow">
            <p class="text-2xl font-bold mb-2">Aantal bezoekers</p>
            <div class="text-3xl font-bold mb-1">3,696</div>
        </div>

        <div class="p-8 bg-gradientkleurSmallText text-white rounded-lg shadow">
            <p class="text-2xl font-bold mb-2">Evenement Timer</p>
            <div class="text-3xl font-bold mb-1">03:30u te gaan</div>
            <div class="text-1xl font-bold mb-1">22:30 - 03:00</div>
        </div>

        <div class="p-8 bg-gradientkleurSmallText text-white rounded-lg shadow">
            <p class="text-2xl font-bold mb-2">Transacties/uur</p>
            <div class="text-1xl font-bold mb-1">850 FestCoins</div>
            <div class="text-1xl font-bold mb-1">peak: 924 FestCoins</div>
        </div>
    </div>

<% } %>