<div class="grid md:grid-cols-2 mb-8 gap-4">
    <div class="border-2 shadow rounded-xl p-6">
        <h2 class="text-2xl font-bold mb-4">Uitgaven per categorie</h2>
        <ul class="space-y-2">
            <li class="flex justify-between bg-gray-50 p-3 border border-purple-500 rounded">
                <span> Drank</span><span class="font-semibold">120 FestCoins</span>
            </li>
            <li class="flex justify-between bg-gray-50 p-3 border border-purple-500 rounded">
                <span> Eten</span><span class="font-semibold">67 FestCoins</span>
            </li>
            <li class="flex justify-between bg-gray-50 p-3 border border-purple-500 rounded">
                <span> Andere</span><span class="font-semibold">12 FestCoins</span>
            </li>
        </ul>
        <p><br>We kunnen hier een cirkeldiagrammen van maken, en dit is dummy data (moet van backend komen)</p>
    </div>
    <div class="border-2 shadow rounded-xl p-6">
        <h2 class="text-2xl font-bold mb-4">Uitgaven per evenement yk</h2>
        <ul class="grid grid-cols-3 gap-3">
            <div class="bg-gray-50 p-3 border border-purple-500 rounded">Pukkelpop: <br>32 FestCoins</div>
            <div class="bg-gray-50 p-3 border border-purple-500 rounded">Alken Openluchtfuif: <br>34 FestCoins</div>
            <div class="bg-gray-50 p-3 border border-purple-500 rounded">Tomarrowland: <br>24 FestCoins</div>
            <div class="bg-gray-50 p-3 border border-purple-500 rounded">Student Take-Off: <br>20 FestCoins</div>
        </ul>
        <p><br>ook me backend, hier history van maken van elk gejoinde event en dan met totale uitgegeven FestCoins
            (mogelijks grafiek?)</p>
        <p><br>Als ge op een event klikt krijgt ge pop-up met gedetailde informatie van uitgaven?</p>
    </div>
</div>