<br/>
<section class="max-w-4xl mx-auto my-10 p-6 bg-white border-2 rounded-lg shadow-md">
    <h1 class="text-4xl font-bold mb-4">Algemene Voorwaarden - FestCoin</h2><hr/><br/>

    <h2 class="text-2xl font-bold mb-2">Dienst</h2>
    <p class="mb-4">
        FestCoin biedt een cashless betalingssysteem voor evenementen. Bezoekers kunnen FestCoins aanschaffen en gebruiken bij aangesloten evenementen via QR-codes. Organisatoren kunnen FestCoins accepteren als betaling binnen hun evenement.
    </p>

    <h2 class="text-2xl font-bold mb-2">Gebruikers</h3>
    <p class="mb-4">
        Deze voorwaarden gelden voor zowel bezoekers als organisatoren van evenementen die gebruikmaken van FestCoin.
    </p>

    <h2 class="text-2xl font-bold mb-2">Betaling en gebruik van FestCoins</h3>
    <p class="mb-4">
        Bezoekers betalen met hun eigen betalingssysteem voor het verkrijgen van FestCoins. FestCoins kunnen alleen worden gebruikt binnen evenementen die het FestCoin-systeem ondersteunen. Terugstorting van FestCoins naar de zichtrekening is mogelijk volgens de procedures van FestCoin.
    </p>

    <h2 class="text-2xl font-bold mb-2">Aansprakelijkheid</h3>
    <p class="mb-4">
        FestCoin biedt uitsluitend het platform aan voor cashless betalingen. FestCoin is niet aansprakelijk voor:
    </p>
    <ul class="list-disc ml-10 mb-4">
        <li>Betalingen die gedaan worden maar niet worden geleverd door de organisator.</li>
        <li>Verlies van FestCoins door gebruikersfouten.</li>
        <li>Diefstal of ongeoorloofd gebruik van FestCoins bij verlies of diefstal van apparaten.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-2">Wijzigingen</h3>
    <p class="mb-4">
        FestCoin behoudt zich het recht voor deze algemene voorwaarden te allen tijde te wijzigen. Wijzigingen worden gecommuniceerd via de officiële kanalen van FestCoin.
    </p>

    <h2 class="text-2xl font-bold mb-2">Toepasselijk recht</h3>
    <p class="mb-4">
        Op deze voorwaarden is het Belgische recht van toepassing.
    </p>
</section>
