<br/>
<section class="max-w-4xl mx-auto my-10 p-6 bg-white border-2 rounded-lg shadow-md">
    <h1 class="text-4xl font-bold mb-4">Privacybeleid voor FestCoin</h2><hr/><br/>

    <h2 class="text-2xl font-bold mb-2">Verzamelde gegevens</h2>
    <p class="mb-4">
    Bij het aanmaken van een account verzamelen wij:
    </p>
    <ul class="list-disc ml-10 mb-4">
        <li>Gebruikersnaam (mag fictief zijn)</li>
        <li>E-mailadres</li>
        <li>Telefoonnummer</li>
    </ul>
    <p class="mb-4">
        Daarnaast worden bij het kopen van FestCoins gegevens bijgehouden zoals het bedrag en de betaalmethode (via externe providers zoals Bancontact of PayPal).
    </p>

    <h2 class="text-2xl font-bold mb-2">Gebruik van gegevens</h3>
    <ul class="list-disc ml-10 mb-4">
        <li>Accountgegevens worden enkel gebruikt voor het inloggen, accountbeheer en het koppelen van FestCoins.</li>
        <li>FestCoin-transacties worden ook bijgehouden per account, deze worden volledig server-side verwerkt.</li>
        <li>Gebruikers kunnen hun eigen aankoopgeschidenis zien: datum, items, hoeveelheid en eigen account.</li>
        <li>Organisatoren zien alleen een datum, items en hoeveelheid bij transacties van hun evenement. Ze kunnen niet zien welke gebruiker het heeft gekocht.</li>
        <li>Deze gegevens worden gebruikt voor het correct functioneren van het systeem en realtime rapportages.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-2">Statistieken en rapportage</h3>
    <p class="mb-4">
        Organisatoren kunnen live zien hoeveel inkomsten er zijn, welke items populair zijn en hoeveel er is verkocht. Deze statistieken zijn anoniem per gebruiker en bevatten geen persoonlijke informatie. 
    </p>

    <h2 class="text-2xl font-bold mb-2">Rechten van gebruikers</h3>
    <ul class="list-disc ml-10 mb-4">
        <li>Gebruikers kunnen hun eigen gegevens bekijken en aanpassen via hun accountinstellingen</li>
        <li>Voor vragen of verzoeken met betrekking tot privacy kunnen gebruikers gerust contact opnemen met ons.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-2">Veiligheid</h3>
    <p class="mb-4">
        Bij FestCoin hechten we een groot belang aan de veiligheid van onze gebruikers, zowel bezoekers als Organisatoren. Alle persoonlijke gegevens en betalingen zorden veilig verwerkt op onze servers. Er wordt geen gevoelige betaalinformatie in de browser opgeslagen.
    </p>
</section>
