

<div class="max-w-4xl mx-auto p-6">
    <div class="border rounded-2xl shadow-sm p-6">
        <div class="mb-4">
            <div class="flex items-center gap-2 mb-1">
                <h2 class="text-lg font-semibold">Wachtwoord Wijzigen</h2>
            </div>
            <p class="text-gray-500 text-sm">Wijzig je wachtwoord om je account veilig te houden</p>
        </div>

        <form id="passwordChange" class="space-y-4">
            <div class="space-y-1">
                <label for="password" class="block font-medium text-gray-700">Huidig Wachtwoord</label>
                <input id="password" type="password" placeholder="••••••••"
                        class="border rounded-lg px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="space-y-1">
                <label for="newPassword" class="block font-medium text-gray-700">Nieuw Wachtwoord</label>
                <input id="newPassword" type="password" placeholder="••••••••"
                        class="border rounded-lg px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="space-y-1">
                <label for="confirmPassword" class="block font-medium text-gray-700">Bevestig Nieuw Wachtwoord</label>
                <input id="confirmPassword" type="password" placeholder="••••••••"
                        class="border rounded-lg px-3 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 w-full">
                Wachtwoord Wijzigen
            </button>
            <p id="errorMsg" class="font-thin text-red-600 "></p>
        </form>
    </div>
</div>

<script type="module" src="/js/passwordChange.js"></script>