<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Bezoekers - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <!-- body -->
    <main class="pt-16">
        <!-- hero sectie -->
        <%- include("../partials/hero", {
            title:"Geniet van je evenement, wij regelen de rest!",
            subtext: "Met FestCoin betaal je snel, veilig en overzichtelijk met je smartphone. Vanaf nu geen contant geld of bonnetjes meer",
        }) %>

        <!-- Hoe werkt het sectie -->
        <!-- Waarom FestCoin -->
        <!-- features op bezoekers gericht -->
        <!-- faq op bezoekers gericht -->
        <!-- CTA -->
    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>