<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - FestCoin</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- body -->
    <main class="pt-16">
        <%- include(user.role === "bezoeker" ? "../partials/dashboardUser" : "../partials/dashboardOrg") %>
    </main>
    <!-- footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>