<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actieve Evenementen - FestCoin</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <!-- main body -->
    <main class="pt-16">
        <h1>Welcom hier kan je de actieve evenementen zien!</h1>
    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
</body>
</html>