<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actieve Evenementen - FestCoin</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- header -->
    <%- include("../partials/index/header") %>

    <!-- main body -->
    <main class="pt-16 h-screen">
        <%- include("../partials/eventList/liveEventList") %>
    </main>

    <!-- footer -->
    <%- include("../partials/index/footer") %>
</body>
</html>