<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>klantenservice - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <!-- body -->
    <main class="pt-16">
        <!-- hero - hoe kunnen we helpen type shi -->
        <p>Voeg hier klantenservice pagina toe</p>
        <!-- contact info (email, telefonisch en live chat) -->
        <!-- Hulp bronnen -->
        <!-- Veel gestelde vragen -->
        <!-- CTA voor HULP -->
    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
</body>
</html>