<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Organisatoren - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <!-- body -->
    <main class="pt-16">
        <h1 class="bg-gradient-to-br from-blue-500 via-purple-500 to-pink-500 text-transparent bg-clip-text">ORGANISATOREN</h1>
        <p>Voeg hier ORGANISATOREN pagina toe</p>

        <!-- hero sectie -->
        <!-- waarom voor organisatoren -->
        <!-- Extra technical info voor organisatoren -->
        <!-- review sectie van andere organisatoren ? -->
        <!-- FAQ gericht op organisatoren -->
        <!-- CTA -->

    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>