<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mijn Evenement - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <main class="pt-16">
        <%- include("../partials/orgEventBeheer") %>
    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>