<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Algemene voorwaarden - FestCoin</title>
</head>
<body>
    <%- include("../partials/index/header") %>
    
    <main class="py-16">
        <%- include("../partials/beleid/AVBeleid")%>
    </main>

    <%- include("../partials/index/footer") %>
</body>
</html>