<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pagina niet gevonden - FestCoin</title>
</head>
<body>

    <!-- Header -->
    <%- include("../partials/header") %>

    <main class="pt-16">
        <H1 class="text-center text-3xl font-extrabold">KLOTE MAN PAGINA NIET GEVONDEN G</H1>
    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>


</body>
</html>