<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Pagina niet gevonden - FestCoin</title>
</head>
<body>

    <!-- Header -->
    <%- include("../partials/header") %>

    <main class="pt-16">
        <%- include("../partials/cards/codeCard", {code: "404", title: "Pagina niet gevonden",}) %>
    </main>
</body>
</html>