<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Er is iets mis gegaan - FestCoin</title>
</head>
<body>

    <!-- Header -->
    <%- include("../partials/header") %>    

    <main class="pt-16">
        <%- include("../partials/Cards/codeCard", {code: "500", title: "Oops, er is iets kapot gegaan.",}) %>
    </main>

</body>
</html>