
<div class="container mx-auto pb-4 max-w-4xl">
    <!-- Tabs -->
    <div class="mb-8 p-4 border-gray-400 shodow">
        <div class="grid grid-cols-3 bg-gray-100">
        <button class="tab-btn py-2 font-semibold border-b-2 border-purple-400 text-purple-500" data-tab="buy">Kopen</button>
        <button class="tab-btn py-2 font-semibold border-b-2 text-gray-500" data-tab="sell">Verkopen</button>
        <button class="tab-btn py-2 font-semibold border-b-2 text-gray-500" data-tab="send">Deel FestCoins</button>
        </div>
    </div>

    <div class="min-h-[385px]">

        <!-- Kopen -->
        <%- include ("kopenTab") %>

        <!-- Verkopen -->
        <%- include ("verkopenTab") %>
        
        <!-- deel -->
        <%- include ("shareTab") %>

    </div>
</div>


<script src="/js/festCoinsTabsScripts.js"></script>