

<!-- Kopen -->
<div class="tab-content" id="buy">
    <div id="koop-notificatie" class="fixed top-16 right-4 bg-green-500 text-white px-3 py-2 rounded opacity-0 transition-opacity duration-500 pointer-events-none z-50"></div>

    <div class="border rounded-2xl p-6 shadow-sm space-y-4">
        <h2 class="text-xl font-semibold">FestCoins Kopen</h2>
        <p class="text-gray-500">Voeg Festcoins toe aan je account (Je kan max. 500 FestCoins per transactie aankopen.)</p>

        <form id="koopform" class="space-y-4">
            <div class="grid gap-2">
                <label for="buyAmount" class="font-medium">Bedrag (€)</label>
                <input id="buyAmount" type="number" placeholder="0" min="0" max="500"
                class="border rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div class="flex gap-2">
                <button type="button" class="border px-4 py-2 rounded-lg hover:bg-gray-100" onclick="setAmount('buyAmount', 10)">€10</button>
                <button type="button" class="border px-4 py-2 rounded-lg hover:bg-gray-100" onclick="setAmount('buyAmount', 25)">€25</button>
                <button type="button" class="border px-4 py-2 rounded-lg hover:bg-gray-100" onclick="setAmount('buyAmount', 50)">€50</button>
                <button type="button" class="border px-4 py-2 rounded-lg hover:bg-gray-100" onclick="setAmount('buyAmount', 100)">€100</button>
            </div>

            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 flex justify-center items-center">
                <i class="fa-solid fa-arrow-down-left mr-2"></i>
                FestCoins Kopen
            </button>

            <p id="errorMsg" class="font-thin text-red-600 "></p>
        </form>
    </div>
</div>



<script src="/js/addCoins.js"></script>